-i https://pypi.org/simple/
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
django==2.2.21
idna==2.10
pytz==2021.1
requests==2.25.1
soupsieve==2.2.1 ; python_version >= '3.0'
sqlparse==0.4.1
urllib3==1.26.5
